@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
    --font-heading: "Fredoka", sans-serif;
    --font-body: "Nunito", sans-serif;
    --font-fantasy: "DynaPuff", sans-serif;
}

@layer utilities {
    .font-heading {
        @apply font-heading;
    }

    .font-body {
        @apply font-body;
    }

    .font-fantasy {
        @apply font-fantasy;
    }
}

body {
    @apply m-0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}